<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <a href="/">Home</a>   |
    <a href="/About">About</a>   |
    <a href="/Contact">Contact</a>   |
    <h1>About Page</h1>
    <form>
        Enter student Roll No.:   <input type="text"><br><br>
        Enter student Name:       <input type="text"><br><br>
        Enter student City:       <input type="text"><br><br>
        Enter student sbject:     <input type="text"><br><br>
        <input type="submit">
    </form>
    
</body>
</html>